#page{
    width:100%;
    height: 750px;
}

#fullHeader{
    width: 100%;
    height: 25%;
    background-color:black;
    color: gold;
    margin-bottom: 0;
}

#middlePage{
    height: 80%;
    background-color: rgb(187, 185, 185);
    margin-top: 0px;
}

footer{
    height: 6%;
    background-color: black;
    color: white;
    text-align: center;
    padding: auto auto;
}


#htitle{
    
    width: 15%;
    height: 75%;
    font-size:60px;
    padding-top:5px;
    padding-left:5px;
    float:left;
    text-align: center;
    margin: 0;
    text-shadow: 3px 2px 5px goldenrod;
}

#icon{
    height: 120px;
    width: 120px;
    padding-top: 7px;
    float:left;
    margin-left: 0;
    padding-left: 0;
    transition: transform 5s;
}

#icon:hover{
    transform: rotateY(360deg);
}

ul{
    list-style-type: none;
    width: 100%;
    
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
}
li{
    float: right;
    width: 8%;
    border:white;
}
li a{
    display: block;
    padding: 8px;
    background-color: black;
    text-decoration:none;
    text-align: center;
    color: white; 
}

li a:hover{
    background-color:dimgray;
}

li a:active{
    background-color:goldenrod;
}
.home{
    
    
}

.otherpage{
    
}

footer{
    padding-top: 15px;
}

